.col-xs-12{
	text-align: center;
}
.verticalCenter{
	min-height: 100%;  
  	min-height: 100vh; 
  	display: flex;
  	align-items: center;
}
.well{
	display: hidden;
}
#task{
	background-color: grey;
	margin: .5% 0%;
	padding: 1%;
}
.taskName{
	text-align: left;
	color: white;
}